article {
  border-style: solid;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

article:hover {
  box-shadow: 5px 5px rgb(0, 162, 255);
}

.tweet-header {
  height: 100%;
  width: 100%;
  background: transparent;
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name h4 {
  margin-left: 10px;
}

footer {
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  padding: 5px;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 100px;
  color: #4056A1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-heart:hover {
  color: rgb(0, 162, 255);
}

.fa-flag:hover {
  color: rgb(0, 162, 255);
}

.fa-retweet:hover {
  color: rgb(0, 162, 255);
}

@media only screen and (min-width: 1024px) {
  .name {
    flex-basis: 50%;
  }

  .handle-name {
    opacity: 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
  }
}